#ibedu-breadcrumbs {
	margin-bottom: 12px;
}

/* Forms */
.ibedu-form {
	margin-bottom: 24px;
}

/* Student's courses page */
table.ibedu-courses > thead > tr > th:first-child {
	width: 70%;
}

table.ibedu-courses-pending > thead > tr > th:first-child {
	width: auto;
}

.ibedu-courses-pending td {
	vertical-align: middle;
}

/* Course */
.ibedu-course {
	margin-bottom: 24px;
}

.ibedu-course:after {
	clear: both;
	content: '';
	display: block;
}

.ibedu-course .course-image {
	float: left;
	margin-right: 20px;
}

.ibedu-course .course-summary {
	overflow: hidden;
}

.ibedu-course-price {
	font-weight: bold;
	margin-bottom: 24px;
}

.ibedu-course-price .ibedu-button {
	vertical-align: middle;
}

.ibedu-course-price .price {
	margin-right: 20px;
	vertical-align: middle;
}

/* Quiz */
.ibedu-question {
	margin-bottom: 20px;
}

.ibedu-answers {
	list-style: none;
	margin-bottom: 0;
	margin-left: 0;
}

.ibedu-answers .correct {
	font-weight: bold;
}

.ibedu-answers .wrong {
	text-decoration: line-through;
}

.ibedu-answers input[type="radio"] {
	margin-right: 5px;
}

.ibedu-quiz-grade {
	margin-bottom: 24px;
}

/* Messages and notifications */
.ibedu-message {
	margin-bottom: 24px;
}

.ibedu-message.success {
	color: green;
}

.ibedu-message.error {
	color: red;
}

/* Forms */
.ibedu-form legend {
	font-weight: bold;
}

.ibedu-form-field {
	margin-bottom: 20px;
}

.ibedu-form-field:after {
	clear: both;
	content: '\00a0';
	display: block;
	height: 0;
	overflow: hidden;
}

.ibedu-form-field > label {
	display: block;
	float: left;
	max-width: 120px;
}

.ibedu-form-control {
	margin-left: 140px;
}

.ibedu-payment-method {
	list-style: none;
	margin-left: 0;
}

.ibedu-payment-method li + li {
	margin-top: 5px;
}

.ibedu-payment-method input[type="radio"] {
	margin-right: 5px;
}

/* TwentyFourteen theme */
.ibedu-twentyfourteen {
	margin: 0 auto;
	max-width: 474px;
	padding: 0 10px 0;
}

#ibedu-payment-form input[type="text"] {
	width: 100%;
}

.ibedu-twentyfourteen .ibedu-lesson h1 {
	font-size: 18px;
	margin-top: 0;
}

.ibedu-course .course-summary h1 a {
	text-decoration: none;
}

.ibedu-twentyfourteen .ibedu-course-single .course-content,
.ibedu-twentyfourteen .ibedu-lesson-single .lesson-content {
	padding-top: 12px;
}

.ibedu-twentyfourteen .ib-edu-course-difficulty {
	margin-bottom: .5em;
}

.ibedu-twentyfourteen .ib-edu-course-categories {
	margin-bottom: 1em;
}

.ibedu-twentyfourteen .ib-edu-course-difficulty .label,
.ibedu-twentyfourteen .ib-edu-course-categories .label {
	margin-right: 5px;
}

@media screen and (min-width: 594px) {
	.ibedu-twentyfourteen {
		padding-left: 30px;
		padding-right: 30px;
	}
}