/* Tabs ---------------*/
.ib-edu-tabs {
	margin-left: -20px;
}

.ib-edu-tabs:after {
	clear: both;
	content: '';
	display: block;
}

.ib-edu-tabs li {
	float: left;
	margin: 0 0 0 20px;
}

.ib-edu-tabs li.active span {
	color: #000;
	font-weight: bold;
}

/* Form ---------------*/
.ib-edu-admin-form {
	margin-top: 20px;
}

.ib-edu-field {
	margin: 0 0 30px 0;
}

.ib-edu-field:after {
	clear: both;
	content: '';
	height: 0;
	overflow: hidden;
}

.ib-edu-label {
	color: #000;
	float: left;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.3;
	max-width: 200px;
}

.ib-edu-control {
	margin-left: 220px;
}

.ib-edu-control .description {
	color: #666;
	font-size: 14px;
	font-style: italic;
	line-height: 1.5;
	margin-top: 5px;
}

/* Autocomplete ---------------*/
.ib-edu-autocomplete {
	display: inline-block;
}

.ib-edu-autocomplete-choices {
	max-height: 200px;
	overflow: auto;
	position: absolute;
	z-index: 100;
}

.ib-edu-autocomplete-choices a {
	background-color: #fff;
	border: 1px solid #ddd;
	border-top: 0;
	cursor: pointer;
	display: block;
	padding: 7px 10px;
}

.ib-edu-autocomplete-choices a:first-child {
	border-top: 1px solid #ddd;
}

/* Offers form ---------------*/
#edu_edit_payment_form,
#edu_edit_entry_form {
	padding-top: 10px;
}

#ib-edu-offers-form {
	border-collapse: collapse;
	margin: 0 0 0 -5px;
	max-width: 620px;
}

#ib-edu-offers-form th,
#ib-edu-offers-form td {
	padding: 5px;
	text-align: left;
}

#ib-edu-offers-form th {
	padding-top: 0;
}

#ib-edu-offers-form .offer-from,
#ib-edu-offers-form .offer-to {
	width: 30%;
}

#ib-edu-offers-form .offer-price,
#ib-edu-offers-form .offer-capacity {
	width: 16%;
}

#ib-edu-offers-form .offer-actions {
	width: 8%;
}

#ib-edu-offers-form input[type="text"] {
	width: 100%;
}

#ib-edu-offers-form a.delete-offer {
	color: #a00;
}

#ib-edu-offers-form a.delete-offer:hover {
	color: red;
}

/* Entries ---------------*/
.alternate + .ib-edu-progress {
	background-color: #f9f9f9;
}

.ib-edu-progress-row {
	overflow: hidden;
}

.ib-edu-progress-row .hidden {
	display: none;
}

.ib-edu-progress-row > div {
	float: left;
}

.ib-edu-progress-row > div + div {
	margin-left: 20px;
}

.ib-edu-progress-row .grade {
	font-weight: bold;
}

/* Subnav ---------------*/
.ib-edu-subnav {
	float: none;
	margin-bottom: 6px;
}

/* Pagination ---------------*/
.ib-edu-pagination a,
.ib-edu-pagination > span {
	background-color: #e3e3e3;
	display: inline-block;
	margin: 10px 2px;
	padding: 3px 8px;
	text-decoration: none;
}

.ib-edu-pagination span.current,
.ib-edu-pagination a:hover {
	background-color: #2ea2cc;
	color: #fff;
}

/* Message ---------------*/
.ib-edu-overlay {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.ib-edu-overlay:before {
	display: block;
	font: 400 40px/1 dashicons;
	height: 40px;
	left: 50%;
	line-height: 30px;
	margin: -20px 0 0 -20px;
	position: absolute;
	top: 50%;
	width: 40px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ib-edu-overlay.ib-edu-saved {
	background-color: rgba(255, 255, 255, .8);
}

.ib-edu-overlay.ib-edu-saved:before {
	color: #999;
	content: '\f147';
}

.ib-edu-overlay.ib-edu-error {
	background-color: rgba(255, 255, 255, .8);
}

.ib-edu-overlay.ib-edu-error:before {
	color: #999;
	content: '\f153';
}

/* Progress page ---------------*/
#ib-edu-progress .quizzes {
	margin-top: 8px;
}

#ib-edu-progress .quiz {
	margin-bottom: 1em;
}

#ib-edu-progress .quiz-title {
	background-color: #fff;
	border: 1px solid #ddd;
	cursor: pointer;
	font-size: 14px;
	line-height: 1.4;
	padding: 10px;
	position: relative;
}

#ib-edu-progress .questions {
	background-color: #fff;
	border: 1px solid #ddd;
	border-collapse: collapse;
	border-top: 0;
	display: none;
	margin: 0;
	width: 100%;
}

#ib-edu-progress .questions th,
#ib-edu-progress .questions td {
	text-align: left;
	padding: 10px;
}

#ib-edu-progress .questions td.check-answer {
	vertical-align: top;
	width: 120px;
}

#ib-edu-progress .question-text {
	font-weight: bold;
	margin: 0 0 5px 0;
}

#ib-edu-progress .quiz-grade {
	background-color: #fff;
	border: 1px solid #ddd;
	border-top: 0;
	display: none;
	padding: 10px;
	position: relative;
}

#ib-edu-progress .form-row {
	overflow: hidden;
}

#ib-edu-progress .form-row + .form-row {
	margin-top: 10px;
}

#ib-edu-progress .form-row .label {
	display: block;
	float: left;
	font-weight: bold;
	max-width: 120px;
}

#ib-edu-progress .form-row .field {
	margin-left: 140px;
}

#ib-edu-progress .form-row .description {
	display: block;
	margin-top: 5px;
}

#ib-edu-progress .form-buttons {
	padding-left: 140px;
}

#ib-edu-progress .description {
	color: #999;
	margin-bottom: 10px;
}

#ib-edu-progress .quiz.open .questions {
	display: table;
}

#ib-edu-progress .quiz.open .quiz-grade {
	display: block;
}

#ib-edu-progress .summary {
	margin: 20px 0 0 0;
	padding: 0 10px;
}

#ib-edu-progress .quiz-title .handle {
	color: #aaa;
	cursor: pointer;
	display: block;
	height: 40px;
	line-height: 40px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 40px;
}

#ib-edu-progress .quiz-title .handle:before {
	content: '\f140';
	display: inline-block;
	font: 400 20px/1 dashicons;
	position: relative;
	top: 5px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#ib-edu-progress .quiz-title .handle:hover {
	color: #777;
}

#ib-edu-progress .quiz.open .handle:before {
	content: '\f142';
}